## Bibliotecas necessárias

In [2]:
import numpy as np
import pandas as pd
import geopandas as gpd
from sqlalchemy import create_engine
from geoalchemy2 import Geometry
import sqlite3

Used [DownGit](https://downgit.github.io/#/home) to download the .json file from [Telmo's repository](https://github.com/tbrugz/geodata-br/blob/master/geojson/geojs-33-mun.json)

## Lendo a primeira base

A coluna description é igual à coluna name, então vamos retirá-la

In [3]:
zipfile = "geojs-33-mun.json.zip"
rio_municipios = gpd.read_file(zipfile)
rio_municipios = rio_municipios.drop(columns = 'description')

print(type(rio_municipios))

rio_municipios.head()

<class 'geopandas.geodataframe.GeoDataFrame'>

,id,name,geometry
0,3300100,Angra dos Reis,"POLYGON ((-44.19557 -23.09831, -44.19445 -23.1..."
1,3300159,Aperibé,"POLYGON ((-42.11517 -21.60398, -42.11585 -21.6..."
2,3300209,Araruama,"POLYGON ((-42.18220 -22.55217, -42.13226 -22.6..."
3,3300225,Areal,"POLYGON ((-43.05873 -22.18937, -43.04773 -22.2..."
4,3300233,Armação dos Búzios,"POLYGON ((-41.93436 -22.76580, -41.91900 -22.7..."

In [4]:
csvfile = "municipio.csv"
municipio = gpd.read_file(csvfile)
municipio.head()

,ano,sigla_uf,id_municipio,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb,projecao,geometry
0,2005,AC,1200013,estadual,fundamental,finais (6-9),90,0.89959502,223.3,209.69,3.88221,3.5,,None
1,2005,AC,1200013,estadual,fundamental,iniciais (1-5),80.4,0.76059997,167.8,154.39,3.972965,3,,None
2,2005,AC,1200013,municipal,fundamental,finais (6-9),,,,,,,,None
3,2005,AC,1200013,municipal,fundamental,iniciais (1-5),66.3,0.68155998,169.8,163,4.1680932,2.8,,None
4,2005,AC,1200013,publica,fundamental,finais (6-9),89,0.89366102,223.3,209.69,3.8821671,3.5,,None

In [5]:
dados_rio = municipio[municipio['sigla_uf'] == "RJ"]
dados_rio = dados_rio.drop(columns = ['projecao','geometry'])
dados_rio.tail()

,ano,sigla_uf,id_municipio,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb
280698,2021,RJ,3306305,municipal,fundamental,iniciais (1-5),,,,,,
280699,2021,RJ,3306305,municipal,medio,todos (1-4),,,,,,
280700,2021,RJ,3306305,publica,fundamental,finais (6-9),,,,,,
280701,2021,RJ,3306305,publica,fundamental,iniciais (1-5),,,,,,
280702,2021,RJ,3306305,publica,medio,todos (1-4),,,,,,

In [6]:
dados_rio['taxa_aprovacao'].replace('', np.nan, inplace=True)
dados_rio.dropna(subset=['taxa_aprovacao'], inplace=True)
dados_rio.tail()

,ano,sigla_uf,id_municipio,rede,ensino,anos_escolares,taxa_aprovacao,indicador_rendimento,nota_saeb_matematica,nota_saeb_lingua_portuguesa,nota_saeb_media_padronizada,ideb
240234,2019,RJ,3306305,municipal,fundamental,iniciais (1-5),91.8,0.91792399,242.47,230.5,6.782443,6.2
240235,2019,RJ,3306305,municipal,medio,todos (1-4),86.1,0.86114401,315.45,307.6,5.7250719,4.9
240236,2019,RJ,3306305,publica,fundamental,finais (6-9),88.8,0.888152,272.42,264.8,5.6205001,5
240237,2019,RJ,3306305,publica,fundamental,iniciais (1-5),91.8,0.91771501,242.47,230.5,6.782443,6.2
240238,2019,RJ,3306305,publica,medio,todos (1-4),83.6,0.83630103,286.57,286.23,4.9992542,4.2