## Bibliotecas necessárias

In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
from sqlalchemy import create_engine
from geoalchemy2 import Geometry
import sqlite3

Used [DownGit](https://downgit.github.io/#/home) to download the .json file from [Telmo's repository](https://github.com/tbrugz/geodata-br/blob/master/geojson/geojs-33-mun.json)

## Lendo a primeira base

A coluna description é igual à coluna name, então vamos retirá-la

In [8]:
zipfile = "geojs-33-mun.json.zip"
rio_municipios = gpd.read_file(zipfile)
rio_municipios = rio_municipios.drop(columns = 'description')

print(type(rio_municipios))

rio_municipios.head()

<class 'geopandas.geodataframe.GeoDataFrame'>

,id,name,geometry
0,3300100,Angra dos Reis,"POLYGON ((-44.19557 -23.09831, -44.19445 -23.1..."
1,3300159,Aperibé,"POLYGON ((-42.11517 -21.60398, -42.11585 -21.6..."
2,3300209,Araruama,"POLYGON ((-42.18220 -22.55217, -42.13226 -22.6..."
3,3300225,Areal,"POLYGON ((-43.05873 -22.18937, -43.04773 -22.2..."
4,3300233,Armação dos Búzios,"POLYGON ((-41.93436 -22.76580, -41.91900 -22.7..."

In [7]:
codigos = pd.Series (['3300100','3300159','3300209','3300225','3300233','3300258','3300308','3300407','3300456',
                      '3300506','3300605','3300704','3300803','3300902','3300936','3301009','3300951','3301108',
                      '3301157','3301207','3301306','3301405','3301504','3301603','3301702','3301801','3301850',
                      '3301876','3301900','3302007','3302056','3302106','3302205','3302254','3302270','3302304',
                      '3302403','3302452','3302502','3302601','3302700','3302809','3302858','3302908','3303005',
                      '3303104','3303203','3303302','3303401','3303500','3303609','3303708','3303807','3303856',
                      '3303906','3303955','3304003','3304102','3304110','3304128','3304144','3304151','3304201',
                      '3304300','3304409','3304508','3304524','3304557','3304607','3304706','3304755','3304805',
                      '3304904','3305000','3305109','3305133','3305158','3305208','3305307','3305406','3305505',
                      '3305554','3305604','3305703','3305752','3305802','3305901','3306008','3306107','3306156',
                      '3306206','3306305'])

rio_municipios['codigo']=codigos.values
rio_municipios.tail()

,id,name,geometry,codigo
87,3306008,Três Rios,"POLYGON ((-43.14554 -22.09725, -43.13612 -22.1...",3306008
88,3306107,Valença,"POLYGON ((-43.76557 -22.06243, -43.76344 -22.0...",3306107
89,3306156,Varre-Sai,"POLYGON ((-41.75527 -20.80706, -41.75000 -20.8...",3306156
90,3306206,Vassouras,"POLYGON ((-43.45624 -22.21610, -43.43097 -22.2...",3306206
91,3306305,Volta Redonda,"POLYGON ((-44.02940 -22.51965, -44.03532 -22.5...",3306305